[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Weslley Lima
	email = weslleyspfc13@outlook.com
[core]
	editor = 'C:\\Users\\wesll\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe' --wait
[alias]
	s = status
